.grid {
    width: 100%;
}

.video {
    padding: 10px;
}

.grid:before,
.grid:after {
    content: "";
    display: table;
    clear: both;
}

.col-1-5 {
    width: 20%;
}

.col-3-10 {
    width: 30%;
}

.col-7-10 {
    width: 70%;
}

[class*='col-'] {
    float: left;
    min-height: 1px;
}

[class*='col-'] {
    padding-right: 20px;
}

[class*='col-']:last-of-type {
    padding-right: 0;
}

.padder {
    visibility: hidden;
}

.content {
    margin: 40px 50px 30px 50px;
}

.sticky .content {
    margin-top: 80px;
}

