.padder {
    visibility: hidden;
}

.content {
  
  /* position: absolute; */
  
  margin: 0 auto;
}

.toolbar {
  height: 64px;
  width: 100%;
}

.scroll-content{
  position: absolute;
  overflow-y: scroll;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0em;
  top: 64px;
  bottom: 0;
}

.sticky .content {
  margin-top: 80px;
}